<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">

<link rel="icon"
      type="image/png"
      href="/images/favicon.png">
  <title>{{page.title}} {{page.food}} | Partizanska Knjiga</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  {%if page.title != "home"%}
  <link rel="stylesheet" href="/styles/autori.css">
  {%endif%}
  {% if page.title == "katalog" %}
  <link rel="stylesheet" href="/styles/katalog.css">
  {% endif %}
  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>
