<div class="gradient">
</div>
<div id="navbar-container">
  <nav class="navbar navbar-default navbar-top navbar-fixed-top">
    <div id="navbar" class="container-fluid">
      <div class="nav-plus-search">
        <ul class="nav navbar-nav" style="font-size: 18px">
          <li><a href="https://www.facebook.com/partizanskaknjiga/" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube fa-lg"></i></a></li>
          <li id="search-icon"><a href="#"><i class="fa fa-search fa-lg"></i></a></li>
        </ul>
        <form id="search-bar" class="navbar-form navbar-left not-shown" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Pretraži">
          </div>
        </form>
      </div>
      <div class="prodaja-jezik">
        <a class="jezik" href="#">engleski</a> <p class="jezik">|</p> <a class="jezik" href="#">srpski</a>
        <a class="jezik-abbr" href="#">en</a> <p class="jezik-abbr">|</p> <a class="jezik-abbr" href="#">rs</a>
        <button class="btn" type="button" name="button">Prodaja</button>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-main">

        <ul class="nav navbar-nav navbar-nav-main">
          <li><a href="/">početna</a></li>
          <li><a href="/o-nama">o nama</a></li>
          <li><a href="/autori">autori / autorke</a></li>
          <li><a href="/katalog">katalog</a></li>
          <li><a href="/kontakt">kontakt</a></li>
        </ul>

    </nav>
  </nav>

</div>

<div class="container">
  <header>
    <div class="logo-container">
      <img src="/images/logo.png" alt="">
    </div>
    <h1>PARTIZANSKA KNJIGA</h1>

    <div class="tagline">
      <p>// verovati / čitati / boriti se //</p>
    </div>
  </header>

    <hr>
</div>
