/*O Nama Single page*/
#alert-onama {
  display: none;
position: fixed;
width: 100%;
height: 100vh;
top: 0;
left: 0;
background: rgba(0,0,0,0.6);
z-index: 10;
}
#onama-single-page {
  display: none;
  margin: auto;
margin-top: 15vh;
width: 50%;
height: 60vh;
background-color: #fcfcfc;
position: relative;
text-align: center;
box-shadow: 25px 20px 50px black;
border-left: 15px inset #db0d0d;
}
#alert-x {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 1.8em;
  color: #a31d1d;
}
#alert-x:hover {
  color: #333;
}
.bio-container {
  margin: auto;
  padding-top: 60px;
  height: 400px;
  width: 80%;
}
h3 {
  /*font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-align: center;
  margin-top: 0;*/
}
.col-md-4 {
  float: left;
}
aside {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;

}
.bio-paragraph {
  padding-left: 30px;
  padding-top: 12px;
  font-size: 1.15em;
  text-align: justify;
}
.published {
  float: left;
  width: 200px;
}

#bio-name {
  font-family: 'Inconsolata', monospace;
  font-size: 1.6em;
  text-transform: uppercase;
  color: #a31d1d;
  padding: 0 12px;
}
.thumbnail-single-page {
  margin-top: 20px;
}



/*o NAMA*/
#zanimanje {
  margin-bottom: 42px;
  cursor: default;
}
.row {
  margin-top: 105px;
  margin-left: -5px;
  margin-right: -5px;
}
.aboutus-item {
  margin-bottom: 20px;
  padding: 1px;
}
.col-md-3-authors {
  height: 280px;
  padding: 1px;
}

.thumbnail {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.thumbnail:hover .autor-name{
  color:  #CC0D0D;
  text-decoration: none;
}
.autor-img-div {
  overflow: hidden;
}
.autor-img {
  height: 195px;
  transition: transform 0.5s;
  overflow: hidden;

}
.autor-img:hover {
  transform: scale(1.06);
}

h5 {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 1.22em;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: #777;
}
.dropdown-tab {
  float: left;
  position: relative;
  margin-right: 5px;
}
.dropdown-tab:hover .dropdown-content {
  display: block;
}
.dropdown-tab:hover .btn-spisak {
  background-color: #a31d1d;
  color: white;
}

/* .dropdown-content:hover .dropdown-menu {
  display: block;
} */
.a-i:hover .menu-a-i {
  display: block;
}
.j-p:hover .menu-j-p {
  display: block;
}
.r-z:hover .menu-r-z {
  display: block;
}
.flexed {
  display: flex;
}
/* #dropdown-tab-edition:hover .content2 {
  display: flex;
} */
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-menu {
  display: none;
  background-color: #faf9f9;
  padding: 20px 40px 20px 25px;
  width: 250px;
}
.dropdown-item {
  color: #333;
}
.dropdown-item:hover {
  color: #CC0D0D;
}
.content-position {
  left: -137px;
}
.btn-spisak {
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 8px 15px;
  font-size: 1.2em;
}
.btn-spisak-ime {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background-color: #faf9f9;
  padding: 8px 28px;
  font-size: 1.2em;
}
.btn-spisak-ime:hover {
  background-color: #dbdbdb;
}
.btn-group {
  margin-top: 5px;
}
.dropdown-content .btn {
  z-index: 10;
}

.btn-group:hover .a-i {
  display: block;
  z-index: 10;
}

/*Kontakt*/
.mapa {
  -webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
#info {
  text-indent: 20px;
  margin-top: 50px;
  text-align: left;
  /*font-weight: bold;*/
  font-size: 1.3em;
  font-family: 'Inconsolata', monospace;
}
.btn-kontakt, h4 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding: 10px 15px;
  color: #a31d1d;
  font-size: 1.2em;
}
.prodaja-info {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  font-size: 1.2em;
}
.prodaja-info span {
  color:  #777;
  text-transform: uppercase;
}
.prodaja-info a {
  color: #a31d1d;
  font-weight: bold;
}
.prodaja-info p {
  text-indent: 25px;
}
.kontakt-naslovi {
  color: #474646;
  margin-top: 30px;
  width: 25%;
}

@media screen and (max-width: 1176px){

  }
}
